{% extends 'index.html' %}
{%load static %}
{% block content %}

<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    

    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            60
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LAVAGEM TECNICA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Aspiração</li>
                            <li class="item-wrap">Pré-lavagem</li>
                            <li class="item-wrap">Limpeza de plásticos com limpador
                                bactericida,limpeza de plásticos com limpador
                                bactericida</li>
                            <li class="item-wrap">Selante de pneus</li>
                            <li class="item-wrap">Cera protetora</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-l1" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-input1" value="LAVAGEM_TECNICA">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-l1'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-input1').value = 'LAVAGEM_TECNICA';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
        
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            500
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            LIMPEZA DETALHADA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo">Higienização (teto, colunas, parasol,
                                bancos, cintos, carpete,
                                porta malas e estepe.)</li>
                            <li class="item-tipo">lavagem técnica</li>
                            <li class="item-tipo">limpeza do motor com envernizamento</li>
                            <li class="item-tipo">Chassi detalhado e envernizado</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem2" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input2" value="LIMPEZA_DETALHADA">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem2'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input2').value = 'LIMPEZA_DETALHADA';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
        
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            700
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LIMPEZA DETALHADA + PROTEÇÃO
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Pintura * Cera V80 (Descontaminação + selagem)</li>
                            <li class="item-wrap">Plásticos * Revitalizador</li>
                            <li class="item-wrap">Motor * Verniz</li>
                            <li class="item-wrap">Chassi * Verniz</li>
                            <li class="item-wrap">Vidros * Vitrificação + Remoção de chuva ácida</li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem3" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input3" value="LIMPEZA_DETALHADA_PROTECAO">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem3'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function submitForm(formID) {
                document.getElementById('tipo-lavagem-input3').value = 'LIMPEZA_DETALHADA_PROTECAO';
                document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
            }
        </script>
    </div>
 
    <!--############################################3-->
    <section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            450
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            POLIMENTO TECNICO + PROTEÇÃO DE 6 MESES
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                          
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem4" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input4" value="POLIMENTO_TECNICO_PROTECAO_6_M">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem4'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input4').value = 'POLIMENTO_TECNICO_PROTECAO_6_M';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>


            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            100
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            LIMPEZA CHASSI DETALHADA 
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem5" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input5" value="LIMPEZA_CHASSI_DETALHADA">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem5'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input5').value = 'LIMPEZA_CHASSI_DETALHADA';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">Couro - 5lug
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            120
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            HIGIENIZAÇÃO DE BANCOS
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem6" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input6" value="HIGIENIZAÇÃO_DE_BANCOS">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem6'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
            </div>
            <script>
            function submitForm(formID) {
                document.getElementById('tipo-lavagem-input6').value = 'HIGIENIZAÇÃO_DE_BANCOS';
                document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
            }
        </script>
        </div>
    </div>


<!--#############################3#################3##################3###3##################3##-->
<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            80
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LIMPEZA DE MOTOR COM ENVENIZAMENTO
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem7" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input7" value="LIMPEZA_DE_MOTOR_COM_ENVENIZAMENTO">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem7'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input7').value = 'LIMPEZA_DE_MOTOR_COM_ENVENIZAMENTO';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            50
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            DESCONTAMINAÇÃO 
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem8" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input8" value="DESCONTAMINAÇÃO">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem8'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input8').value = 'DESCONTAMINAÇÃO';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            50
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            CERA EM PASTA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem9" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input9" value="CERA_EM_PASTA">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem9'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function submitForm(formID) {
                document.getElementById('tipo-lavagem-input9').value = 'CERA_EM_PASTA';
                document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
            }
        </script>
    </div>

<!--############3##3#########################################3###############################-->
<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            80
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            REMOÇÃO DE CHUVA ACIDA E VITRIFICAÇÃO DO PARABRIZA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem10" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input10" value="REMOÇÃO_DE_CHUVA_ACIDA_E_VITRIFICAÇÃO_DO_PARABRIZA">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem10'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input10').value = 'REMOÇÃO_DE_CHUVA_ACIDA_E_VITRIFICAÇÃO_DO_PARABRIZA';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            1000
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            POLIMENTO TECNICO + VITRIFICAÇÃO DE PINTURA ( 1 ANO PROTEÇÃO )
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem11" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input11" value="POLIMENTO_TECNICO_VITRIFICAÇÃO">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem11'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </form>
                    </div>
                </div>
                <script>
                    function submitForm(formID) {
                        document.getElementById('tipo-lavagem-input11').value = 'POLIMENTO_TECNICO_VITRIFICAÇÃO';
                        document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
                    }
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            1850
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            PACOTE COMPLETO VITRIFICAÇÃO COMPLETA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem12" method="POST" action="{% url 'tipolavagem' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input12" value="PACOTE_COMPLETO_VITRIFICAÇÃO">
                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="submitForm('form-lavagem12'); return false;">
                                <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </form>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
    <script>
        function submitForm(formID) {
            document.getElementById('tipo-lavagem-input12').value = 'PACOTE_COMPLETO_VITRIFICAÇÃO';
            document.getElementById(formID).submit(); // Submete o formulário quando clicar no link
        }
    </script>
</section>
</section>
</section>
{% endblock%}