{% extends 'index.html' %}
{%load static %}
{% block content %}

<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    

    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            60
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LAVAGEM TECNICA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Aspiração</li>
                            <li class="item-wrap">Pré-lavagem</li>
                            <li class="item-wrap">Limpeza de plásticos com limpador
                                bactericida,limpeza de plásticos com limpador
                                bactericida</li>
                            <li class="item-wrap">Selante de pneus</li>
                            <li class="item-wrap">Cera protetora</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#" onclick="submitForm('LAVAGEM TECNICA'); return false;">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            500
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            LIMPEZA DETALHADA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo">Higienização (teto, colunas, parasol,
                                bancos, cintos, carpete,
                                porta malas e estepe.)</li>
                            <li class="item-tipo">lavagem técnica</li>
                            <li class="item-tipo">limpeza do motor com envernizamento</li>
                            <li class="item-tipo">Chassi detalhado e envernizado</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            700
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LIMPEZA DETALHADA + PROTEÇÃO
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Pintura * Cera V80 (Descontaminação + selagem)</li>
                            <li class="item-wrap">Plásticos * Revitalizador</li>
                            <li class="item-wrap">Motor * Verniz</li>
                            <li class="item-wrap">Chassi * Verniz</li>
                            <li class="item-wrap">Vidros * Vitrificação + Remoção de chuva ácida</li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--############################################3-->
    <section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            450
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            POLIMENTO TECNICO + PROTEÇÃO DE 6 MESES
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            100
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            LIMPEZA CHASSI DETALHADA 
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">Couro - 5lug
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            120
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            HIGIENIZAÇÃO DE BANCOS
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--#############################3#################3##################3###3##################3##-->
<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            60
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LIMPEZA DE MOTOR COM ENVENIZAMENTO
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            50
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            DESCONTAMINAÇÃO 
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            40
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            CERA EM PASTA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--############3##3#########################################3###############################-->
<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            70
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            REMOÇÃO DE CHUVA ACIDA E VITRIFICAÇÃO DO PARABRIZA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            1000
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            POLIMENTO TECNICO + VITRIFICAÇÃO DE PINTURA ( 1 ANO PROTEÇÃO )
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            1850
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            PACOTE COMPLETO VITRIFICAÇÃO COMPLETA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
</section>
{% endblock%}