{% extends 'index.html' %}
{%load static %}
{% block content %}

<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    

    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            tipo lavagem
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            50
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            PROJETO INICIAL
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Adipisicing elit</li>
                            <li class="item-wrap">Consectetur</li>
                            <li class="item-wrap">Sapiente sint</li>
                            <li class="item-wrap">Quod recusandae</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">
                            tipo lavagem

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            70
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            PROJETO INICIAL
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Adipisicing elit</li>
                            <li class="item-wrap">Consectetur</li>
                            <li class="item-wrap">Sapiente sint</li>
                            <li class="item-wrap">Quod recusandae</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            tipo lavagem
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            90
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            PROJETO INICIAL
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Adipisicing elit</li>
                            <li class="item-wrap">Consectetur</li>
                            <li class="item-wrap">Sapiente sint</li>
                            <li class="item-wrap">Quod recusandae</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>
                            ESCOLHER
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}