{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static './assets/css/cadastro.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './assets/css/sistema/logo.css' %}">

</head>
<body>
  <div class="panel">
		<div class="state"><br><i class="fa fa-user-plus"></i><br><h1>Registro</h1></div>
		<div class="form">
            <form action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                <label for="nome" class="letr">Nome:</label>
                <input placeholder='Nome' type="text" name="nome_cadastro" required>
            
                <label for="email" class="letr">Email:</label>
                <input placeholder='Email' type="text" name="email" required>
            
                <label for="senha_1" class="letr">Senha:</label>
                <input placeholder='Senha' type="password" name="senha_1" required>
                <label for="senha_2" class="letr">Cofirmação de Senha:</label>
                <input placeholder='Confirmar senha' type="password" name="senha_2" required>
                <label for="telefone" class="letr">telefone</label>
                <input placeholder='Digite seu telefone' type="text" name="telefone" required>

            
                <button type="submit" class="login">Cadastrar</button>
            </form>
            
		</div>
	</div>
</body>
</html>
