{% extends 'index.html' %}
{%load static %}
{% block content %}

<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    

    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            70
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LAVAGEM TECNICA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Aspiração</li>
                            <li class="item-wrap">Pré-lavagem</li>
                            <li class="item-wrap">Limpeza de plásticos com limpador
                                bactericida.</li>
                            <li class="item-wrap">Selante de pneus</li>
                            <li class="item-wrap">Cera protetora</li>
                            <li class="item-wrap">Proteção na caixa de roda</li>
                            <li class="item-wrap">limpeza do step </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-input1" value="LAVAGEM_TECNICA">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem" value="LAVAGEM_TECNICA">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem', 'mais-lavagem', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem', 'mais-lavagem', false);
                            }
                        });
                    }
                 
                 
                </script>
            </div>
        
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            520
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            LIMPEZA DETALHADA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo">Higienização (teto, colunas, parasol,
                                bancos, cintos, carpete,
                                porta malas e estepe.)</li>
                            <li class="item-tipo">lavagem técnica</li>
                            <li class="item-tipo">limpeza do motor com envernizamento</li>
                            <li class="item-tipo">Chassi detalhado</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem2" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input2" value="LIMPEZA_DETALHADA">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem2" value="LIMPEZA_DETALHADA">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert2(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert2() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem2', 'mais-lavagem2', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem2', 'mais-lavagem2', false);
                            }
                        });
                    }
                 
                
                </script>
            </div>
        
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            720
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LIMPEZA DETALHADA + PROTEÇÃO
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Pintura * Cera V80 (Descontaminação + selagem)</li>
                            <li class="item-wrap">Plásticos * Revitalizador</li>
                            <li class="item-wrap">Motor * Verniz</li>
                            <li class="item-wrap">Chassi * Verniz</li>
                            <li class="item-wrap">Vidros * Vitrificação + Remoção de chuva ácida</li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem3" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input3" value="LIMPEZA_DETALHADA_PROTECAO">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem3" value="LIMPEZA_DETALHADA_PROTECAO">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert3(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>

            function Alert3() {
                Swal.fire({
                    title: 'Gostaria de escolher mais um tipo de lavagem?',
                    text: 'Perfectwash',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                            submitForm('form-lavagem3', 'mais-lavagem3', true);
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        submitForm('form-lavagem3', 'mais-lavagem3', false);
                    }
                });
            }
           
        </script>
    </div>
 
    <!--############################################3-->
    <section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            550
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            POLIMENTO TECNICO + PROTEÇÃO DE 6 MESES
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> Lavagem</li>
                            <li class="item-wrap"> Descontaminação</li>
                            <li class="item-wrap"> Isolamento </li>
                            <li class="item-wrap"> Polimento  </li>

                            <li class="item-wrap"> Proteção de pintura </li>
                                
                          
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem4" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input4" value="POLIMENTO_TECNICO_PROTECAO_6_M">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem4" value="POLIMENTO_TECNICO_PROTECAO_6_M">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert4(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert4() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem4', 'mais-lavagem4', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem4', 'mais-lavagem4', false);
                            }
                        });
                    }
                   
                   
                </script>
            </div>


            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            100
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            LIMPEZA CHASSI DETALHADA 
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem5" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input5" value="LIMPEZA_CHASSI_DETALHADA">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem5" value="LIMPEZA_CHASSI_DETALHADA">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert5(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert5() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem5', 'mais-lavagem5', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem5', 'mais-lavagem5', false);
                            }
                        });
                    }
                   
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="destacado">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            120
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            HIGIENIZAÇÃO DE BANCOS
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem6" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input6" value="HIGIENIZAÇÃO_DE_BANCOS_COURO">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem6" value="HIGIENIZAÇÃO_DE_BANCOS_COURO">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert6(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
            </div>
            <script>

                function Alert6() {
                    Swal.fire({
                        title: 'Gostaria de escolher mais um tipo de lavagem?',
                        text: 'Perfectwash',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sim',
                        cancelButtonText: 'Não'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                submitForm('form-lavagem6', 'mais-lavagem6', true);
                            });
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            submitForm('form-lavagem6', 'mais-lavagem6', false);
                        }
                    });
                }
        </script>
        </div>
    </div>

<!--#############################3#################3##################3###3##################3##-->
<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            80
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            LIMPEZA DE MOTOR COM ENVENIZAMENTO
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem7" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input7" value="LIMPEZA_DE_MOTOR_COM_ENVENIZAMENTO">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem7" value="LIMPEZA_DE_MOTOR_COM_ENVENIZAMENTO">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert7(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert7() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem7', 'mais-lavagem7', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem7', 'mais-lavagem7', false);
                            }
                        });
                    }
                   
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            50
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            DESCONTAMINAÇÃO 
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem8" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input8" value="DESCONTAMINAÇÃO">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem8" value="DESCONTAMINAÇÃO">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert8(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert8() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem8', 'mais-lavagem8', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem8', 'mais-lavagem8', false);
                            }
                        });
                    }
                   
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            50
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            CERA EM PASTA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem9" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input9" value="CERA_EM_PASTA">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem9" value="CERA_EM_PASTA">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert9(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>

            function Alert9() {
                Swal.fire({
                    title: 'Gostaria de escolher mais um tipo de lavagem?',
                    text: 'Perfectwash',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                            submitForm('form-lavagem9', 'mais-lavagem9', true);
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        submitForm('form-lavagem9', 'mais-lavagem9', false);
                    }
                });
            }
           
        </script>
    </div>

<!--############3##3#########################################3###############################-->
<section data-bs-version="5.1" class="pricing1 boldm5 cid-ttRnSl4kMw" id="pricing2-c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                            
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            80
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            REMOÇÃO DE CHUVA ACIDA E VITRIFICAÇÃO DO PARABRIZA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap"></li>
                            <li class="item-wrap"></li>
                            <li class="item-wrap"> 
                                
                                </li>
                            <li class="item-wrap"> </li>
                            <li class="item-wrap"> </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem10" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input10" value="REMOÇÃO_DE_CHUVA_ACIDA_E_VITRIFICAÇÃO_DO_PARABRIZA"> 
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem10" value="REMOÇÃO_DE_CHUVA_ACIDA_E_VITRIFICAÇÃO_DO_PARABRIZA">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert10(); return false;">
                            ESCOLHER
                        </a>
                        </form>
                    </div>
                </div>
                <script>

                    function Alert10() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem10', 'mais-lavagem10', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem10', 'mais-lavagem10', false);
                            }
                        });
                    }
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc_1 mbr-fonts-style display-4">

                        </p>
                        <p class="mbr-price_1 mbr-fonts-style display-1">
                            1000
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title_1 mbr-fonts-style display-5">
                            POLIMENTO TECNICO + VITRIFICAÇÃO DE PINTURA ( 1 ANO PROTEÇÃO )
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-tipo"> </li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                            <li class="item-tipo"></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem11" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input11" value="POLIMENTO_TECNICO_VITRIFICAÇÃO">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem11" value="POLIMENTO_TECNICO_VITRIFICAÇÃO">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert11(); return false;">
                            ESCOLHER
                        </a>
                    </form>
                    </div>
                </div>
                <script>

                    function Alert11() {
                        Swal.fire({
                            title: 'Gostaria de escolher mais um tipo de lavagem?',
                            text: 'Perfectwash',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                    submitForm('form-lavagem11', 'mais-lavagem11', true);
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                submitForm('form-lavagem11', 'mais-lavagem11', false);
                            }
                        });
                    }
                   
                </script>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="price-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-4">
                        </p>
                        <p class="mbr-price mbr-fonts-style display-1">
                            1850
                            <span>R$</span>
                        </p>
                        <h3 class="mbr-section-title mbr-fonts-style display-5">
                            PACOTE COMPLETO VITRIFICAÇÃO COMPLETA
                        </h3>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="item-wrap">Pintura </li>
                            <li class="item-wrap">Vidro</li>
                            <li class="item-wrap">Pláticos</li>
                            <li class="item-wrap">Couro</li>
                            <li class="item-wrap"></li>

                        </ul>
                    </div>
                    <div class="mbr-section-btn">
                        <form id="form-lavagem12" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input12" value="PACOTE_COMPLETO_VITRIFICAÇÃO">
                            <input type="hidden" name="mais_lavagem" id="mais-lavagem12" value="PACOTE_COMPLETO_VITRIFICAÇÃO">

                            <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert12(); return false;">
                            ESCOLHER
                        </a>
                    </form>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
    <script>

        function Alert12() {
            Swal.fire({
                title: 'Gostaria de escolher mais um tipo de lavagem?',
                text: 'Perfectwash',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                        submitForm('form-lavagem12', 'mais-lavagem12', true);
                    });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    submitForm('form-lavagem12', 'mais-lavagem12', false);
                }
            });
        }
       
    </script>
</section>

  
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 col-md-6 card">
            <div class="card-wrapper">
                <div class="price-wrapper">
                    <p class="destacado">
                        técnico - 5lug

                    </p>
                    <p class="mbr-price mbr-fonts-style display-1">
                        140
                        <span>R$</span>
                    </p>
                    <h3 class="mbr-section-title mbr-fonts-style display-5">
                        HIGIENIZAÇÃO DE BANCOS
                    </h3>
                    <ul class="list mbr-fonts-style display-7">
                        <li class="item-wrap"></li>
                        <li class="item-wrap"></li>
                        <li class="item-wrap"></li>
                        <li class="item-wrap"></li>

                        <li class="item-wrap"> </li>
                            
                      
                </div>
                <div class="mbr-section-btn">
                    <form id="form-lavagem13" method="POST" action="{% url 'tipolavagemSEDAN' %}">
                        {% csrf_token %}
                        <input type="hidden" name="tipo_lavagem" id="tipo-lavagem-input22" value="HIGIENIZAÇÃO_DE_BANCOS_TÉCNICO_5L">
                        <input type="hidden" name="mais_lavagem" id="mais-lavagem13" value="HIGIENIZAÇÃO_DE_BANCOS_TÉCNICO_5L">

                        <a id="btn-lavagem-tecnica" class="btn btn-secondary display-4" href="javascript:void(0)" onclick="Alert13(); return false;">
                        ESCOLHER
                    </a>
                    </form>
                </div>
            </div>
            <script>
                function Alert13() {
                    Swal.fire({
                        title: 'Gostaria de escolher mais um tipo de lavagem?',
                        text: 'Perfectwash',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sim',
                        cancelButtonText: 'Não'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire('Você escolheu Sim!', '', 'success').then(() => {
                                submitForm('form-lavagem13', 'mais-lavagem13', true);
                            });
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            submitForm('form-lavagem13', 'mais-lavagem13', false);
                        }
                    });
                }
             
                function submitForm(formID, maisLavagemID, maisLavagem) {
                    // Atualiza o valor do campo oculto "mais_lavagem" usando o ID fornecido
                    document.getElementById(maisLavagemID).value = maisLavagem ? '1' : '0';
                    // Submete o formulário usando o ID fornecido
                    document.getElementById(formID).submit();
                }
            </script>
        </div>


</section>
</section>
{% endblock%}