{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './assets/css/lavagem/horario.css' %}">
    <style>
        .hidden {
            display: none;
        }
        .pw2 {
          display: flex;
          justify-content: space-between;/* Ajuste conforme necessário */
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column;  /* Ajuste conforme necessário */
        }
        
    </style>
</head>
<body>
    <div class="pw">
        <div id="container" class="pw2">
            {% for horario, indisponivel in horarios_indisponiveis.items %}
            <form  id="horario-{{ forloop.counter }}" method="POST" action="{% url 'horario' %}" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="horario_semana" id="horario_semana_input{{ forloop.counter }}" value="{{ horario }}">
                <button class="learn-more {% if indisponivel %}hidden{% endif %}" type="button" onclick="submitForm('horario-{{ forloop.counter }}')" alt="Mythrill">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">{{ horario }}</span>
                </button>
            </form>
            {% endfor %}
        </div>
    </div>

    <script>
        function submitForm(formID) {
            document.getElementById(formID).submit(); // Submete o formulário quando clicar no botão
        }
    </script>
</body>
</html>
