{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './assets/css/lavagem/calendario.css' %}">
</head>
<body>
<!-- Página onde o usuário seleciona o dia da semana -->
<!-- calendario.html -->

    
 
    {% for semana in semanas %}
    {% for data in semana.datas %}
        <form id="myForm_{{ data.dia_semana }}" style="display: {% if semana.numero_semana == semana_atual %} block {% else %} none {% endif %}" method="POST" action="{% url 'testecalen' %}" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="dia_semana" value="{{ data.dia_semana }}">
            <input type="hidden" name="numero_semana" value="{{ semana.numero_semana }}">
            <!-- Adicione campos para o nome do usuário e horário -->

            <a href="#" onclick="submitForm('{{ data.dia_semana }}'); return false;" alt="Mythrill">
                <div class="card">
                    <div class="wrapper">
                        <img src="{% static 'assets/img/calendario/segunda-feira.png' %}" class="cover-image" />
                    </div>
                    <img src="" class="title" />
                    <img src="{% static 'assets/img/logo/logo.png' %}" class="character" />
                    <span class="title">{{ data.dia_semana }}</span>
                    <span class="character">{{ data.numero_semana }}</span>
                </div>
            </a>
        </form>
    {% endfor %}
{% endfor %}

<script>
    function submitForm(dia_semana) {
        document.getElementsByName('dia_semana')[0].value = dia_semana;
        document.getElementById('myForm_' + dia_semana).submit(); // Submete o formulário quando clicar no link
    }
</script>
</body>
</html>
